# SUPABASE
DATABASE_URL=postgresql://postgres.YOUR_PROJECT:YOUR_PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres

# API KEYS
OPENALEX_KEY=

# CLOUD BACKBLAZE B2 
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_BUCKET_REGION=
